.markdown-section > p > code, .markdown-section blockquote code, .markdown-section ul code, .markdown-section table code {
    padding: 4px 2px;
    color: #c7254e;
    background-color: #ddd;
    border-radius: 4px;
}
.markdown-section table code, .markdown-section ul code {
    color: #c7254e;
}

.markdown-section blockquote p {
	margin-bottom: 0;
}

.markdown-section blockquote {
    border-left: 5px solid #938b8b;
    background-color: #ddd;
    color: #666;
	margin: 15px 0;
	padding: 10px 10px;
    /**line-height: 1.8;*/
}

.gitbook-link, .logo {
	display: none;
}
